html {
    overflow-x: hidden;
}

body {
    background-color: rgb(84, 167, 255);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    box-shadow: 0  2px 5px rgb(231, 231, 231);
}

.nav-list {
    display: flex;
    list-style-type: none;
    float: right;
}

.nav-item {
    background-color: rgb(40, 102, 254);
    color: white;
    padding: 7px 15px 7px 15px;
    margin: 0 10px 0 10px;
    border-radius: 5%;
    cursor: pointer;
}

.nav-item:hover {
    background-color: rgb(21, 86, 250);
}

form {
    background-color: white;
    margin-top: 10%;
    border-radius: 1%;
    box-shadow: 2px 2px 5px rgb(231, 231, 231);
}

.form-sign {
    text-align: center;
    width: 300px;
    height: 320px;
    padding: 30px;
    background-color: white;
    border-radius: 2%;
}

.sign-up {
    color: rgb(30, 34, 39);
    margin-left: 35px;
    padding-top: 20px;
    margin-bottom: 0;
}

input {
    font-size: 14px;
    width: 275px;
    height: 25px;
    padding: 2px 0 2px 10px;
    border: 2px solid lightgray;
    border-radius: 3%;
}

.submit-btn {
    background-color: rgb(40, 102, 254);
    color: white;
    width: 285px;
    height: 35px;
    border-radius: 3%;
    cursor: pointer;
    border: none;
}

.submit-btn:hover {
    background-color: rgb(21, 86, 250);
}

.image-section {
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
}

.social-image {
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-size: initial;
    object-fit: cover;
    margin: auto;
}